<script>

defineComponent({
  components:{Detail},
  setup(){
    const {種別マスタitems, 種別マスタdocs, IDEAマスタv2items, 製法マスタitems} = useMasters()

    const {自所属原資材docs, 使いまわし情報docs, fetch自所属原資材docs, fetch使いまわし情報docs, set原資材doc, set使いまわし情報doc} = useTables()

    const {自所属users} = useUsers()
    const currentUser = 自所属users.find(user=>user.isCurrentUser)

    const 構成item = ref(null)
    watch(構成item,()=> useState().$patch({isEdit:true}))

    var grid

    onMounted(()=>{
        const columns = ['構成コード','構成名','作成者メールアドレス',
        {
          id:'種別コード',
          hidden:true
        }, {
          id:'種別名',
          name:'種別名',
          data:(row)=> row['種別コード']? 種別マスタdocs[row['種別コード']]['種別名']:''
        }]

        grid = new Grid({
            columns,
            data:Object.values(使いまわし情報docs),
            className:{
                td:'max-w-52 truncate'
            },
        })

        grid.on('rowClick',(...args)=>{
            const {cells} = args[1]
            const 構成コード = cells[columns.findIndex(c=>c==='構成コード'||c.id==='構成コード')].data
            構成item.value = {...使いまわし情報docs[構成コード]}
        })

        grid.render(document.getElementById('grid-elem'))
    })

    const query = reactive({
        word:'',
        onlyMe:true,
        onlyMyDiv:true
    })

    watch(query,()=>{
        if(!grid)return
        const {word, onlyMe, onlyMyDiv} = query
        let 構成items = Object.values(使いまわし情報docs)
        if(onlyMe){
            構成items = 構成items.filter(構成item=>構成item['作成者メールアドレス']===currentUser['メールアドレス'])
        }
        if(onlyMyDiv){
            構成items = 構成items.filter(構成item=>構成item['作成者所属名']===currentUser['所属名'])
        }
        if(word){
            構成items = 構成items.filter(構成item=>構成item['構成名'].includes(word))
        }

        grid.updateConfig({
            data:構成items
        }).forceRender()
    },{ immediate: true })


    const updateConfig = () =>{
      grid.updateConfig({data:Object.values(useTables().使いまわし情報docs)})
      grid.forceRender()
      useState().$patch({isLoading:false})
    }

    return {query, 構成item, useState, updateConfig }
  }
})

</script>

<template>
<div class="flex justify-between h-full w-screen">
    <!-- 左側 -->
    <div class="flex-1">
        <div>
            <div class="border grid grid-cols-6">

                <label class="form-control w-full max-w-xs col-span-6">
                    <div class=" label">
                        <span class=" label-text">構成名</span>
                    </div>
                    <input class=" input input-sm input-bordered" v-model="query.word">
                </label>

                <label class=" label justify-start cursor-pointer col-span-3">
                    <input type="checkbox" class=" checkbox checkbox-sm" v-model="query.onlyMe">                    
                    <span class="label-text">自分が登録した構成のみ表示</span>
                </label>

                <label class=" label justify-start cursor-pointer col-span-3">
                    <input type="checkbox" class=" checkbox checkbox-sm" v-model="query.onlyMyDiv">                    
                    <span class="label-text">自部署が登録した構成のみ表示</span>
                </label>

            </div>
        </div>

        <div class="my-5 overflow-x-scroll border">
            <div id="grid-elem" class=" border table"></div>
        </div>
    </div>

    <!-- 右側 -->
    <div class="bg-orange-100 h-full w-96 flex-none p-3">
        <div v-if="!構成item" class="">構成を選んでください</div>

        <div v-else class=" h-full flex flex-col">
            <Detail :key="構成item? 構成item['構成コード']:'0'" :原資材item="構成item" @updated="updateConfig"></Detail>
        </div>

    </div>

</div>
</template>