<script>

defineComponent({
  components:{Detail},
  async setup(){

    const form = useForm({
      initialValues:{
        構成コード:null
      },
      validationSchema: {
        種別コード:yup.string().required('必須です'),
        容リ法分類:yup.string(),
        組成:yup.array().min(1,'組成は最低ひとつは入れてください').of(
          yup.object().shape({
             構成コード:yup.string().nullable(),
             IDEA製品コード:yup.number(),
             IDEA製品名:yup.string(),
             使用量:yup.number().positive('正の値にしてください'),
             使用量単位:yup.string(),
          })
        )
      }
    })

    var grid

    onMounted(()=>{
      const {自所属原資材items, 自所属原資材docs} = useTables()

      const columns = [
          {id:'品目コード',name:'品目コード',width:'130px'},
          {id:'品名',name:'品名',width:'250px'},
          {id:'取引先名',name:'取引先名',width:'150px'},
          {id:'担当者名', name:'担当者名', formatter: (cell, row) => cell? html(`<div>${cell}</div>`):html(`<div>担当者なし</div>`)},
          {id:'構成コード',hidden:true},
          {id:'構成コード',name:'登録',formatter: (cell, row) => cell? html(`<div>済</div>`):html(`<div>未</div>`)}
        ]

      grid = new Grid({
        columns,
        data:自所属原資材items,
        className:{
          th:'!p-1 text-center',
          td:'truncate !bg-inherit !py-0.5 text-center'
        },
        style:{
          tr:(row,rowIndex)=> rowIndex===1? {className:'selected'}:{}
        },
        sort:true,
        fixedHeader:true,
        height:'800px',
        pagination: {limit:30}
      })

      grid.on('rowClick',(...args)=>{
        const {cells} = args[1]
        const 品目コードidx = columns.findIndex(col=>col==='品目コード' || col['id']==='品目コード')
        const 品目コード = cells[品目コードidx].data
        const data = 自所属原資材docs[品目コード]

        form.setValues(data)

        useState().$patch({isEdit:true})
      })

      grid.render(document.getElementById('table'))
    })

    const {get自所属users} = useUsers()
    const {fetch自所属原資材docs, fetch使いまわし情報docs} = useTables()
    const {fetchマスタ} = useMasters()

    await Promise.all([
      get自所属users(), fetch自所属原資材docs(), fetch使いまわし情報docs(), fetchマスタ()
    ])


    const query = reactive({
      onlyMyItems:true,
      onlyIncomplete:true
    })
    watch(query,()=>{
      if(!grid)return

      let items = Object.values( useTables().自所属原資材docs)
      if(query.onlyMyItems){
        items = items.filter(item=>item['担当者メールアドレス']===currentUserEmail.innerText)
      }
      if(query.onlyIncomplete){
        items = items.filter(item=>!item['構成コード'])
      }

      grid.updateConfig({data:items})
      grid.forceRender()
    })

    const updateConfig = () =>{
      grid.updateConfig({data:Object.values(useTables().自所属原資材docs)})
      grid.forceRender()
      useState().$patch({isLoading:false})
    }

    return {form, query}
  }
})

</script>

<template>
<div class="flex">

  <!-- 左側 -->
  <div class="flex-1 p-3">
      <div class="flex gap-4">
          <label class=" label max-w-44 cursor-pointer">
            <input type="checkbox" class="checkbox checkbox-xs" v-model="query.onlyMyItems" />
            <span class="label-text">自分の担当品目のみ</span> 
          </label>

          <label class=" label max-w-44 cursor-pointer">
            <input type="checkbox" class="checkbox checkbox-xs" v-model="query.onlyIncomplete" />
            <span class="label-text">未完了の品目のみ</span> 
          </label>
      </div>

      <table id="table" class="table" />
  </div>

  <div class="w-96 bg-orange-100 p-3 flex flex-col">
     <div v-if=" !Object.keys(form.values).length" class="self-center">品目を選んでください</div>
     <Detail v-else :form="form"/>
  </div>

  </div>
</template>