<template>
  <div class="flex justify-between h-full w-screen">
    <!-- 左側 -->
    <div>
      <div class=" overflow-x-scroll p-2">
        <table id="index" class=" border table table-sm w-[500px]"></table> 
      </div>
    </div>

    <!-- 右側ウィンドウ -->
    <div class="bg-orange-100 h-full w-96 flex-none p-3">
      <div v-if="!原資材item" class="">原資材を選んでください</div>

      <div v-else class=" h-full flex flex-col">

        <div class="flex justify-between">
          <label class=" text-lg font-bold ">構成</label>

          <div v-if="!useState().isEdit">
              <button class="btn btn-primary" @click="useState().$patch({isEdit:true})">再編集</button>
          </div>

          <div v-else class="flex">
              <button class=" btn btn-primary" @click="save()">保存</button>
              <button class=" btn btn-ghost" @click="useState().$patch({isEdit:false})">キャンセル</button>
          </div>

        </div>

        <!-- <div>
          <RecordComposition v-if="!useState().isEdit" :原資材item="原資材item"></RecordComposition>
          <SelectComposition v-if="useState().isEdit"  @select="Object.assign(原資材item,$event)"></SelectComposition>        
        </div> -->
        <form>

          <Detail :key="原資材item? 原資材item['品目コード']:'0'" :原資材item="原資材item"></Detail>
        </form>
        
      </div>
    </div>
  </div>
</template>

<script>

export default defineComponent({
  components:{RecordComposition, SelectComposition, Detail},
  async setup(){

    var grid;

    onMounted(async()=>{
        const 自所属原資材items = Object.values( useTables().自所属原資材docs)

        const columns = ['品目コード','品名','取引先名',
          {id:'担当者名', name:'担当者名', formatter: (cell, row) => cell? html(`<div>${cell}</div>`):html(`<div>担当者なし</div>`)},
          {id:'構成コード',hidden:true},
          {id:'構成コード',name:'登録',formatter: (cell, row) => cell? html(`<div>済</div>`):html(`<div></div>`)}
        ]

        grid = new Grid({
          columns,
          data:自所属原資材items,
          className:{
            td:'max-w-52 truncate'
          },
          sort:true,    
        })

        grid.on('rowClick',(...args)=>{
          const {cells} = args[1]
          const 品目コード = cells[columns.findIndex(c=>c==='品目コード'||c.id==='品目コード')].data
          const {自所属原資材docs} = useTables()
          原資材item.value = {...自所属原資材docs[品目コード]}

          useState().$patch({isEdit:!原資材item.value.構成コード})
        })

        grid.render(document.getElementById('index'))
    })

    const {get自所属users} = useUsers()
    const {fetch自所属原資材docs, fetch使いまわし情報docs} = useTables()
    const {fetchマスタ} = useMasters()

    await Promise.all([
      get自所属users(), fetch自所属原資材docs(), fetch使いまわし情報docs(), fetchマスタ()
    ])


    const 原資材item = ref()

    function save(){
      console.log(原資材item)
    }

    return {currentUserEmail,原資材item, save, useState}
  }
})

</script>