<script>

defineComponent({
  components:{Detail},
  props:{form:Object},
  async setup(props){
    const {form} = props

    var grid


    onMounted(()=>{
      const {自所属原資材items, 自所属原資材docs} = useTables()

      const columns = [
          {id:'品目コード',name:'品目コード',width:'130px'},
          {id:'品名',name:'品名',width:'250px'},
          {id:'取引先名',name:'取引先名',width:'150px'},
          {id:'担当者名', name:'担当者名', formatter: (cell, row) => cell? html(`<div>${cell}</div>`):html(`<div>担当者なし</div>`)},
          {id:'構成コード',hidden:true},
          {id:'構成コード',name:'登録',formatter: (cell, row) => cell? html(`<div>済</div>`):html(`<div>未</div>`)}
        ]

      grid = new Grid({
        columns,
        data:自所属原資材items
      })

      grid.on('rowClick',(...args)=>{
        const {cells} = args[1]
        const 品目コードidx = columns.findIndex(col=>col==='品目コード' || col['id']==='品目コード')
        const 品目コード = cells[品目コードidx].data
        const data = 自所属原資材docs[品目コード]

        form.setValues(data)

        useState().$patch({isEdit:true})
      })

      grid.render(document.getElementById('table'))
    })

    const {get自所属users} = useUsers()
    const {fetch自所属原資材docs, fetch使いまわし情報docs} = useTables()
    const {fetchマスタ} = useMasters()

    await Promise.all([
      get自所属users(), fetch自所属原資材docs(), fetch使いまわし情報docs(), fetchマスタ()
    ])

    return {props}
  }
})

</script>

<template>
<div class="flex">

  <div class="flex-1">
    <table id="table" class="table" />
  </div>

  <div class="w-96 bg-orange-100 p-3">
     <div v-if=" !Object.keys(props.form.values).length"></div>
     <Detail v-else :form="props.form"/>
  </div>

  </div>
</template>