<script lang="ts">
import { defineComponent, reactive, onMounted, watchEffect } from 'vue'
import {Grid, html} from 'gridjs'

import {useForm} from 'vee-validate'
import * as yup from 'yup'

import Detail from '@/components/Detail.vue'

import use原資材 from '@/stores/use原資材'
import use仕様 from '@/stores/use仕様'
import useState from '@/stores/useState'
import useUsers from '@/stores/useUsers'


export default defineComponent({
  components:{Detail},
    setup(){

      const form = useForm({
        validationSchema: use仕様().validationSchema
      })

      async function setValuesToForm(原資材item){

        if(原資材item['仕様コード']){
          const 仕様item = use仕様().docs[原資材item['仕様コード']]
          form.setValues(Object.assign(原資材item,仕様item))
        }else{
          const {currentUser} = useUsers()

          const emptyValues = {
            仕様コード:null,
            仕様名:原資材item['品名']+'_仕様',
            使いまわし:false,            
            種別コード:null,

            容リ法分類:'対象外',
            容リ法商品業種:'対象外',
            プラスチックフラグ:false,

            在庫単位あたり重量:'0.00',
            使用単位あたり重量:'0.00',
            比重:'0.00',

            組成:[],

            作成者メールアドレス:currentUser['メールアドレス'],
            作成者所属名:currentUser['所属名'], 
            更新日時:null,
          }

          form.setValues(Object.assign(原資材item,emptyValues))
        }

        await form.validate()
      }

      var grid

      onMounted(()=>{

        const columns = [
          {id:'品目コード',name:'品目コード',width:'130px'},
          {id:'品名', name:'品名', width:'250px'},
          {id:'取引先名', name:'取引先名', width:'150px'},
          {id:'担当者名', name:'担当者名', formatter: (cell, row) => cell? html(`<div>${cell}</div>`):html(`<div>担当者なし</div>`)},
          {id:'仕様コード',hidden:true},
          {id:'仕様コード',name:'登録',formatter: (cell, row) => cell? html(`<div>済</div>`):html(`<div></div>`)}
        ]

        grid = new Grid({
          columns,
          data:[] ,
          className:{
            table:'border my-3',
            th:'!p-1 text-center',
            td:'max-w-52 truncate !bg-inherit !py-0.5 text-center',
          },
          sort:true,
          fixedHeader:true,
          search:true,
          pagenation:{limit:30}
        })

        grid.on('rowClick',async(...args)=>{
          const {cells } = args[1]
          const 品目コード = cells[columns.findIndex(c=>c==='品目コード'||c.id==='品目コード')].data
          const item = use原資材().docs[品目コード]

          await setValuesToForm(item)

          changeSelectedRowColor()

          useState().$patch({isEdit:!item['仕様コード']})
        })

        grid.render(document.getElementById('index'))

        updateGrid()
      })

      function changeSelectedRowColor(){
          const rowElems = document.querySelectorAll('.gridjs-tr');

          rowElems.forEach(row => {
            const idElem = row.firstElementChild
            const id = idElem.innerText
            const isSelected = id == form.values['品目コード']

            row.classList.toggle('bg-orange-100', isSelected)
          });
      }

      const suspiciousSame仕様 = computed(()=>{
        console.log(form.values)

        if(!form.meta.value.valid)return null
        
        const {values} = form
        if(!Object.keys(values).length)return null // formが初期状態ではmeta.validがtrueになって通ってしまうので、values=={}の場合は早期リターン
        if(values['使いまわし'])return null

        // 同一取引先コード、同一種別コード、同一組成の仕様がないかチェック
        // もし同一仕様の仕様コードがある場合はconfirmして、キャンセルして登録済み仕様から選ぶようにする
        const isWithin5Percent=(num1,num2)=> Math.abs(num1 - num2) <= num1*0.05

        function confirm組成equality(objArr1,objArr2){
            if(objArr1.length!==objArr2.length)return false
            
            return objArr1.every(obj1=>{
                const sameIdObj2 = objArr2.find(obj2=>obj2['IDEA製品コード']==obj1['IDEA製品コード']);
                if(!sameIdObj2){
                    return false
                }else{
                    return isWithin5Percent(obj1['使用量'], sameIdObj2['使用量']) && obj1['使用量単位'] == sameIdObj2['使用量単位']
                }
            })
        }

        const suspicious仕様 = use仕様().items.find( (仕様item,i)=>{
            const 同一種別 = 仕様item['種別コード'] == values['種別コード']

            const 同一重量 = isWithin5Percent(Number(仕様item['在庫単位あたり重量']),Number(values['在庫単位あたり重量'])) &&
                            isWithin5Percent(Number(仕様item['使用単位あたり重量']),Number(values['使用単位あたり重量']))

            const 同一組成 = confirm組成equality(仕様item['組成'],values['組成']);

            if(!同一種別 || !同一重量 || !同一組成 )return false

            const 原資材item = use原資材().items.find(原資材item=>原資材item['仕様コード']===仕様item['仕様コード'])
            
            if(!原資材item)return false
            
            return ['カテゴリー区分名','取引先コード'].every(e=>原資材item[e]===values[e]);
        })

        if(!suspicious仕様)return null

        const message = `同じ重量、組成の仕様が既に登録されています。
        既存資材の版違いの場合は、登録済み仕様から選んでください。
        あえて違う仕様として登録する場合は、このまま保存してください。
        仕様名：${suspicious仕様['仕様名']}`

        return message
      })

      const save = form.handleSubmit( async values=>{
          useState().$patch({isLoading:true})

          if(values['使いまわし']){
            // 原資材テーブルに仕様コードを書くのみ
            await use原資材().syncItems(values)
          }else{
            // 新たに仕様を登録した後で原資材テーブルに仕様コードを登録
            await use仕様().syncItems(values)
            const 仕様item = use仕様().items.find(item=>item['仕様名']=== values['仕様名'])
            values['仕様コード'] = 仕様item['仕様コード']
            await use原資材().syncItems(values)
          }

          updateGrid()

          useState().$patch({isLoading:false})
        })

      const query = reactive({
        onlyMyItems:true,
        onlyIncomplete:false
      })

      const updateGrid = () =>{
          let items = use原資材().items

          if(query.onlyMyItems){
            items = items.filter(item=>item['担当者メールアドレス']===useUsers().currentUser['メールアドレス'])
          }
          if(query.onlyIncomplete){
            items = items.filter(item=>!item['仕様コード'])
          }

          if(grid){
              grid.updateConfig({data:items})
              grid.forceRender()
          }        
      }

      watchEffect(()=>updateGrid())

      return {form, save, query, suspiciousSame仕様}
  }
})

</script>

<template>
  <div class="flex justify-between h-full w-screen">
    <!-- 左側 -->
    <div class="p-3">
      <div class="flex gap-4 p-3">
        <label class=" label max-w-44 cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-xs" v-model="query.onlyMyItems" />
          <span class="label-text">自分の担当品目のみ</span> 
        </label>

        <label class=" label max-w-44 cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-xs" v-model="query.onlyIncomplete" />
          <span class="label-text">未完了の品目のみ</span> 
        </label>
      </div>

      <table id="index" class=" table" />

    </div>

    <!-- 右側ウィンドウ -->
    <div class="bg-orange-100 h-full w-96 flex-none p-3">
      <div v-if="!Object.keys(form.values).length" class="">原資材を選んでください</div>

      <div v-else class="flex flex-col">
        <Detail :form="form" @save="save"/>
      </div>
    </div>

    <!-- アラートウィンドウ -->
    <div v-if="suspiciousSame仕様 && !form.values.仕様コード" class="absolute top-10 right-96">
      <div role="alert" class="alert alert-warning w-fit">
        <span class="whitespace-pre-line">{{suspiciousSame仕様}}</span>
      </div>
    </div>

  </div>
  
</template>

<style>
.gridjs-tr{
  @apply hover:bg-gray-200 active:bg-gray-100  cursor-pointer
}
</style>