<template>
  <div class="space-y-8 prose">

    <div class="">
      <h2>種別</h2>
      <div class="pl-6">
          <FormSelect name="種別" :items="種別マスタitems" ></FormSelect>
      </div>
    </div>

    <div class="">
      <h2>関連法規</h2>
      <div class="pl-6">
          <FormCheckbox name="容リ法対象フラグ" />
          <FormCheckbox name="プラスチックフラグ" />
      </div>
    </div>

    <div class="">
      <h2>IDEA換算設定</h2>

      <div>IDEA原単位'kg' 在庫単位:'g'</div>
      <label class="input input-bordered flex items-center gap-2">
        1kgあたり
        <input type="number" min="0" class=" grow text-end" placeholder="例 10" />
        g
      </label>
    </div>

    <div class="">
      <h2>構成</h2>
      
      <div v-if="!values['種別コード']">先に種別を選んでください</div>

      <div v-else class=" max-w-full pl-3 overflow-y-scroll">
        <FormArray name="構成" :種別コード="values['種別コード']"></FormArray>
      </div>
    </div>

    <div class="w-full">
      <h2>製法</h2>
      <div class="pl-6">
          <FormSelect name="製法" :items="製法マスタitems" ></FormSelect>
      </div>
    </div>

  </div>
</template>

<script>

export default defineComponent({
  components:{FormSelect, FormCheckbox, FormArray},
  props:{原資材item:Object},
  setup(props){
    const {原資材item} = props

    const { handleSubmit, errors, meta, values } = useForm({
      initialValues: {
        種別コード: 原資材item['種別コード'] || '',
        容リ法対象フラグ: 原資材item['容リ法対象フラグ'] || false,
        プラスチックフラグ:原資材item['プラスチックフラグ'] || false,
        製法コード: 原資材item['製法コード'] || '',
        構成: 原資材item['構成'] || [],
      },
      validationSchema: {
        種別コード:yup.string(),
        容リ法対象フラグ:yup.boolean(),
        プラスチックフラグ:yup.boolean(),
        製法コード:yup.string(),
        構成:yup.array()
      }
    })

    const { 種別マスタitems, IDEAマスタv2items, 製法マスタitems } = useMasters()

    return { handleSubmit, errors, meta, values,
      種別マスタitems, IDEAマスタv2items, 製法マスタitems
    }
  }
})

</script>