<script lang="ts">
import { computed, defineComponent,ref } from 'vue'
import { useField } from 'vee-validate'
import useMasters from '@/stores/useMasters';

export default defineComponent({
  props:{setValues:Function, canEdit:Boolean},
  setup(props){
    const { handleChange, value, errorMessage, errors} = useField(() => '種別コード',undefined);

    const {種別マスタitems, 種別マスタdocs} = useMasters()

    const dialog = ref(null)

    function select(i){
      const 種別マスタitem = 種別マスタitems[i]
      handleChange(種別マスタitem['種別コード'])

      props.setValues({
        容リ法分類:種別マスタitem['初期値_容リ法分類'],
        容リ法商品業種:種別マスタitem['初期値_容リ法商品業種'],
        プラスチックフラグ:種別マスタitem['初期値_プラスチックフラグ'],
        製法コード:種別マスタitem['初期値_製法コード'],

        必要_在庫単位あたり重量:種別マスタitem['必要_在庫単位あたり重量'],
        必要_使用単位あたり重量:種別マスタitem['必要_使用単位あたり重量'],
      })

      dialog.value.close()
    }

    const 種別名 = computed(()=>{
      return value.value? 種別マスタdocs[value.value]['種別名']:'選択されていません'
    })

    return { select, 種別マスタitems, dialog, props, 種別名, errorMessage, errors}
  }
})

</script>

<template>
  <div>

    <h2>種別</h2>
    <div class="pl-6">
      <a v-if="props.canEdit"  @click="dialog.showModal()" class=" link"> {{ 種別名 }}</a>
      <span v-else>{{ 種別名 }}</span>
      
    </div>

    <dialog class="modal" ref="dialog">
      <div class="modal-box h-[600px] w-[900px]">

          <div class="flex items-center justify-between">
            <h2>種別を選択</h2>
            <button class="btn btn-primary" @click="dialog.close()">閉じる</button>
          </div>

          <ul class="menu cursor-pointer">
            <details>
              <summary class="p-3 text-lg">資材</summary>
              <ul>
                <li v-for=" (種別,i) of 種別マスタitems.slice(0,18)" :key="種別['種別コード']">
                  <a class=" truncate" @click="select(i)">{{種別['種別名']}}</a>
                </li>              
              </ul>
            </details>

            <details>
              <summary class="p-3 text-lg">原料</summary>
              <ul>
                <li v-for=" (種別,i) of 種別マスタitems.slice(19)" :key="種別['種別コード']">
                  <a class=" truncate" @click="select(i+19)">{{種別['種別名']}}</a>
                </li>
              </ul>
            </details>

          </ul>

      </div>
    </dialog>    
  </div>

</template>