<script lang="ts">
import { defineComponent, ref, computed } from 'vue'
import { useField, useFieldArray } from 'vee-validate'
import useMasters from '@/stores/useMasters';

export default defineComponent({
  props:{canEdit:Boolean,種別選択済:Boolean, errors:Array},
  setup(props){

      const {value:種別コード} = useField(()=>'種別コード',undefined)

      const { remove, push, update, fields } = useFieldArray(()=>'組成',[]);

      const edittingIdx = ref(-1)

      const 組成temp = {組成コード:null ,IDEA製品コード:null,IDEA製品名:null,使用量:100,使用量単位:'%'}

      const 編集中組成 = ref({...組成temp})

      function 組成に反映(){
          const i = edittingIdx.value
          update(i,編集中組成.value)
          編集中組成.value = {...組成temp} 
      }

      const {種別マスタdocs, IDEAマスタv2items} = useMasters()      

      const 検索word = ref('')
      const 推奨のみ = ref(true)
      const 候補のみ = ref(false)

      const 小分類items = computed(()=>{
        if(!種別コード.value)return{}

        let {候補小分類コードリスト} = 種別マスタdocs[種別コード.value]

        const docs = IDEAマスタv2items
            //   .filter(item=> selected小分類コード.value? item['小分類コード']==selected小分類コード.value:true)
              .filter(item=> 候補のみ.value? 候補小分類コードリスト.includes(item['小分類コード']):true)
              .filter(item=> 推奨のみ.value? item['推奨フラグ']:true)
              .filter(item=> 検索word.value? item['IDEA製品名'].includes(検索word.value):true)
              .reduce((items,item)=>Object.assign(items,{[item['小分類コード']]:item['小分類名']}),{})

        return Object.entries(docs).map(([k,v])=>({小分類コード:Number(k),小分類名:v}))
      })

      const selected小分類コード = ref(0)

      const 候補IDEAマスタitems = computed(() => {
          if(!種別コード.value)return[]

          let {候補小分類コードリスト} = 種別マスタdocs[種別コード.value]

          return IDEAマスタv2items
              .filter(item=> selected小分類コード.value? item['小分類コード']==selected小分類コード.value:true)
              .filter(item=> 候補のみ.value? 候補小分類コードリスト.includes(item['小分類コード']):true)
              .filter(item=> 推奨のみ.value? item['推奨フラグ']:true)
              .filter(item=> 検索word.value? item['IDEA製品名'].includes(検索word.value):true)
              .sort((a,b)=>a['選択回数']>b['選択回数']? 1:-1)
      })

      function showModalandSet編集中組成(f,i){
        if(!props.canEdit)return

        document.getElementById('組成item_modal').showModal()
        編集中組成.value = {...f.value}
        edittingIdx.value = i
      }

      return {props,showModalandSet編集中組成,
        remove, push, update, fields, 
      edittingIdx, 組成temp, 編集中組成, 組成に反映, 検索word, 推奨のみ, 候補のみ, 候補IDEAマスタitems,小分類items, selected小分類コード,
      }
  }
})

</script>

<template>
   <div class="">
      <h2>組成</h2>

      <div class="pl-6">
        <ul class="text-error text-sm">
            <li v-for="e of props.errors">{{e[0]}}:{{ e[1] }}</li>
        </ul>
        <div v-if="!props.種別選択済">先に種別を選んでください</div>

        <div v-else class=" max-w-full pl-3 overflow-y-scroll">
            <table class=" table table-sm !m-0">
                <tbody>
                    <tr v-for="(f,i) of fields">
                        <td class=" max-w-20 truncate">
                            <a v-if="props.canEdit" class=" link" @click="showModalandSet編集中組成(f,i)">{{ f.value['IDEA製品名'] || '選択' }}</a>
                            <span v-else>{{ f.value['IDEA製品名'] || '登録されていません' }}</span>
                        </td>

                        <td>{{ f.value['使用量'] }}</td>
                        <td>{{ f.value['使用量単位'] }}</td>

                        <td v-if="props.canEdit">
                            <button @click="remove(i)" class="btn btn-warning btn-xs truncate">削除</button>
                        </td>
                    </tr>
                </tbody>

                <button v-if="props.canEdit" @click="push(組成temp)" class="btn btn-ghost btn-sm text-primary">
                    <span class="pl-5 pr-1">+</span>追加
                </button>
            </table>
        </div>

      </div>
      
    </div>

    
    <dialog id="組成item_modal" class="modal">
        <div class="modal-box max-w-none w-[800px]">
            <h2 class=" mt-0">素材を選択</h2>

            <div class="">
                <div class="flex space-x-3">
                    <input v-model="検索word" class="input input-sm input-bordered" placeholder="ポリ、アミノ等">

                    <label class="label w-fit space-x-1">
                        <input type="checkbox" v-model="推奨のみ" class=" checkbox checkbox-sm">
                        <span class=" label-text">推奨のみ</span>
                    </label>

                    <label class="label w-fit space-x-1">
                        <input type="checkbox" v-model="候補のみ" class=" checkbox checkbox-sm">
                        <span class=" label-text">候補のみ</span>
                    </label>

                    <div class="flex-1"></div>
                </div>

                <div class="flex space-x-3">
                    <ul class=" border h-[480px] w-sm overflow-y-auto">
                        <li v-for="(小分類item, i) in 小分類items"  :key="i"
                        @click="selected小分類コード=小分類items[i]['小分類コード']"
                        class="flex w-full cursor-pointer" :class="{'bg-gray-300': selected小分類コード===小分類item['小分類コード']}"
                        >
                            <div class=" truncate">{{ 小分類item['小分類名'] }}</div>
                        </li>
                    </ul>

                    <ul class=" border flex-1 max-h-[480px] overflow-y-auto ">
                        <li v-for="(item,i) of 候補IDEAマスタitems"  :key="i"
                        @click="編集中組成['IDEA製品コード']=item['IDEA製品コード'];編集中組成['IDEA製品名']=item['IDEA製品名']"
                        class="flex w-full cursor-pointer" :class="{'bg-gray-300': 編集中組成.IDEA製品コード===item['IDEA製品コード']}"
                        >
                            <div class=" truncate">{{ item['IDEA製品名'] }}</div>
                            <div class="flex-1"></div>
                        </li>
                    </ul>                  
                </div>


            </div>

            <div>
                <label class="label inline">
                    <span class=" label-text">使用量</span>
                    <input type="number" v-model="編集中組成.使用量" class=" input input-sm input-bordered max-w-20">
                </label>

                <select class="select select-sm select-bordered w-18" v-model="編集中組成.使用量単位">
                    <option v-for="item of ['μm','mm','μg','mg','g','%']" :key="item" :value="item">{{ item }}</option>
                </select>
            </div>

            <form method="dialog" class="modal-action space-x-3">
                <button @click="組成に反映" class="btn btn-primary">反映</button>
                <button class="btn">閉じる</button>
            </form>
        </div>
    </dialog>
</template>