<script lang="ts">
import { defineComponent } from 'vue'
import { useField } from 'vee-validate'
import useState from '@/stores/useState';

export default defineComponent({
  props:{name:String},
  setup(props){
    const {name} = props

    const {value, handleChange} = useField(()=>name,undefined)

    return {name, value, handleChange, useState}
  }
})

</script>

<template>
  <dl class="flex justify-between items-end max-w-60 ">
      <dt class="">{{ name.replace('フラグ','') }}</dt>
      <dd class="">
        <input type="checkbox" class=" checkbox checkbox-primary" :checked="value" @change="handleChange($event.target.checked)" :disabled="!useState().isEdit"/>
      </dd>
  </dl>
</template>