<script>

defineComponent({
  setup(props){
    const {name, type} = props

    const { handleChange, value, handleBlur, errorMessage, meta } = useField(() => name,undefined);

    return {name, type, handleChange, value, handleBlur, errorMessage, meta, useState}
  }
})

</script>

<template>
  <label class="form-control w-full max-w-xs">
    <div class="label">
      <span class="label-text">{{ name }}</span>
      <span v-if="meta.required" class="text-red-500">*</span>
      <span class="label-text-alt text-red-500">{{ errorMessage }}</span>
    </div>
    <input :disabled="useState().isEdit"
    class="input input-bordered w-full max-w-xs disabled:bg-inherit disabled:text-inherit"
    type="text" :value="value" @change="handleChange"  />
  </label>
</template>