<script>

defineComponent({
  props:{name:String},
  setup(props){
    const {name} = props

    const {value, handleChange} = useField(()=>name,undefined)

    return {name, value, handleChange, useState}
  }
})

</script>

<template>
<div class="form-control max-w-[200px]">
  <label class="label cursor-pointer ">
    <span class="label-text">{{ name.replace('フラグ','') }}</span> 
    <input type="checkbox" class=" checkbox checkbox-primary" :checked="value" @change="handleChange($event.target.checked)" :disabled="!useState().isEdit"/>
  </label>
</div>
</template>