<script lang="ts">
import { defineComponent,ref } from 'vue'
import { useField } from 'vee-validate'
import useMasters from '@/stores/useMasters';
import useState from '@/stores/useState';

export default defineComponent({
  setup(){
    const { handleChange, value} = useField(() => '種別コード',undefined);

    const {種別マスタitems, 種別マスタdocs} = useMasters()

    const dialog = ref(null)

    function select(i){
      種別マスタitems[i] && handleChange(種別マスタitems[i]['種別コード'])
      dialog.value.close()
    }

    return { value, handleChange, select, 種別マスタitems, useState, 種別マスタdocs, dialog}
  }
})

</script>

<template>
  <div>
    <a class=" link " @click="dialog.showModal()">
      <span v-if="種別マスタdocs[value]">{{種別マスタdocs[value]['種別名']}}</span>
      <span v-else>選択されていません</span>
    </a>

    <dialog class="modal" ref="dialog">
      <div class="modal-box h-[600px] w-[900px]">
          <h2>種別を選択</h2>

          <ul class="menu cursor-pointer">
            <details>
              <summary class="p-3 text-lg">資材</summary>
              <ul>
                <li v-for=" (種別,i) of 種別マスタitems.slice(0,18)" :key="種別['種別コード']">
                  <a class=" truncate" @click="select(i)">{{種別['種別名']}}</a>
                </li>              
              </ul>
            </details>

            <details>
              <summary class="p-3 text-lg">原料</summary>
              <ul>
                <li v-for=" (種別,i) of 種別マスタitems.slice(19)" :key="種別['種別コード']">
                  <a class=" truncate" @click="select(i+19)">{{種別['種別名']}}</a>
                </li>
              </ul>
            </details>

          </ul>

          <div class=" modal-action">
            <button class="btn" @click="dialog.close()">閉じる</button>
          </div>
      </div>
    </dialog>    
  </div>


</template>