
<template>
    <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">{{ name }}</span>
          <span v-if="meta.required" class="text-red-500">*</span>
          <span class="label-text-alt text-red-500">{{ errorMessage }}</span>
        </div>
        <input type="text" :value="value" @blur="handleChange" class="input input-bordered w-full max-w-xs" />
    </label>
</template>

<script>

export default defineComponent({
  props:{name:String},
  setup(props){
    const {name} = props
    const { handleChange, value, handleBlur, errorMessage, meta } = useField(() => name );

    return {handleChange, value, handleBlur, errorMessage, meta}
  }
})

</script>