<script>

defineComponent({
  props:{form:Object},
  setup(props){
    const {form} = props
    const {handleSubmit, values, errors, meta, setValues} = form

    const 構成名 = ref('')

    const dialog = ref(null)

    function record(){
      if(!構成名.value){
        alert('構成名をつけてください')
        return
      }

      const item = {
        ...values,
        構成名:構成名.value,
        使いまわし:true
      }

      google.script.run
        .withSuccessHandler( async res=>{
          alert(`登録しました ${res}`)
          const {fetch自所属原資材docs, fetch使いまわし情報docs}= useTables()
          await Promise.all([fetch自所属原資材docs(),fetch使いまわし情報docs()])
          
          dialog.value.close()
        })
        .set情報and構成(item)
      
    }

    return {構成名, values, dialog, record}
  }
})

</script>

<template>
    <button class=" link" @click="dialog.showModal()">この構成を登録</button>

    <dialog class="modal" ref="dialog">
    <div class="modal-box">
        <h3 class="font-bold text-lg">この構成を登録します</h3>
 
        <p class="py-4">わかりやすい名前をつけてください</p>

        <input class="input input-sm input-bordered " v-model="構成名">

        <div class=" border m-2 p-2 flex flex-col space-y-3">
            <div class=" card-title">構成情報</div>

            <pre>{{values}}</pre>

        </div>

        <div class="modal-action space-x-3">
            <button class="btn btn-primary" @click="record">登録</button>
            <button class="btn" @click="dialog.close()">閉じる</button>
        </div>
    </div>
    </dialog>
</template>