<script lang="ts">

export default defineComponent({
  props:{form:Object},
  setup(props){
    const {form} = props

    const dialog = ref(null)

    const 構成名検索word = ref('')

    const 構成候補items = computed(()=>{
        const {構成docs} = useTables()
        return Object.values(構成docs).filter(item=>item['構成名'].includes(構成名検索word.value))
    })

    function select(i){ // 構成itemを直接渡そうとするとリアクティブにならないので、indexを渡して、構成itemを取得する
        const {values, setValues} = form
        const 構成item = 構成候補items.value[i]
        console.log(構成item.構成コード)
        const newItem = Object.assign({...values}, 構成item)
        setValues(構成item)
        dialog.value.close()
    }

    return {dialog, 構成名検索word, 構成候補items, select, useState}
  }
})

</script>

<template>
  <a class=" link " @click="dialog.showModal()">登録済み構成から選択</a>

  <dialog class="modal" ref="dialog">
      <div class="modal-box">
          <h3 class="font-bold text-lg">構成選択</h3>

          <label>
              構成名検索
              <input class="input input-sm input-bordered" v-model="構成名検索word">
          </label>

          <table class="table table-sm">
              <tbody>
              <tr v-for="(構成item,i) of 構成候補items" :key="i">
                  <td>{{ 構成item['構成名'] }}</td>
                  <td>
                    <div @click="select(i)" class="btn btn-primary btn-xs">選択{{ 構成item['構成コード'] }}</div>
                  </td>
              </tr>
              </tbody>
          </table>

          <div class="modal-action">
              <button class="btn btn-ghost" @click="dialog.close()">閉じる</button>
          </div>
      </div>
  </dialog>
</template>